*.Rproj
.Rproj.user
.Rhistory
.Rdata
.RData
.httr-oauth
.DS_Store
.quarto
db/
my_conda_env/
test_data/
MeSS/
MeSS_code/.taxonkit/
MeSS_code/.snakemake/
profilers/Centrifuge/outputs/
code/analysis/total genomes/TOTALGENOMES.txt
code/analysis/total genomes/NCBI Batch Entrez
*.fastq
*.fastq.gz
*.bam
*.sam
*.fq.gz

